.stages{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    margin-right: -200px;
    width: 100px;
    white-space: nowrap;
}
.statusTable{
    width: 70%
}