.header{
    width: 100%;
    background-color: white;
    /* border-bottom: 2px solid #C3D4E9; */
    display: flex;
    size: 32px;
    justify-content: space-between; 
    align-items: center;
}

.logo{ 
    font-family: var(--PrimaryFont-bold);
    color: var(--Primary-green);
    margin-left: 30px;
}
.logoAndSearchBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}